
// .operators{
  
//     padding-top: 115px;
//     padding-left: 162px;
   
//       margin-bottom: 20px;
//       // border: 1px solid #a52a2a;
      
// }
   
  
  h6{
    // margin: 0;
    // font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    color: #413e3e;
    // margin-right: 50px;
    margin-bottom: 20px;
  //  margin-right: 100px;
   
  margin-left: 90px;
  }

  
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    
    
  }
  
  input[type="number"]{
    padding: 20px;
    height:43px;
    width: 260px;
    
    
    margin-left: 8px;
    border: 0;
    border-radius: 10px;
    // font-size: 1.25rem;
   
  
   
    
    background-color: #e4e9eef5;
     box-shadow:10px 5px 5px rgb(194, 188, 188);
   
     
     margin-bottom: 20px;//отступы в зп и фр
  }

 
  
  .calculator{
    margin-top: 5px;
    display: block;
    
  
    
    
   
    // border-bottom: 1px solid #8d1515;
    // border-collapse: collapse;
  }
  // element.style{
    
  // }
  // #accumulation,
  // #spend{
  //   font-weight: 600;
  // }

  
  